HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
# Ignore various untracked files and folders
../../../.Rhistory
../../../00-spring-boot-rest-security-employee-starter-code.zip
../../../00-starter-sql-scripts.zip
../../../00-starter-sql-scripts/
../../../0926/
../../../1-s2.0-S0882401020309499-fx1.jpg
../../../11640BBA-0538-44C4-A036-CF0B75C83DEA-removebg-preview.png
../../../11640BBA-0538-44C4-A036-CF0B75C83DEA.png
../../../12038_2019_9930_Fig1_HTML.png
../../../121848694-1072a480-ccf3-11eb-9af2-7fdefd8d1794.png
../../../2. Entry Level Data Scientist Resume.pdf
../../../2. Entry Level Software Engineer Resume.docx
../../../2. Entry Level Software Engineer Resume.pdf
../../../2024-09-10_10-41-03.png
../../../2024-09-18_22-18-09.png
../../../2024-10-01_13-03-56.png
../../../2024-10-10 20-37-20.mkv
../../../412_4- Speakout Intermediate Workbook (with key)_2015, 2nd-Audio 2/
../../../412_4- Speakout Intermediate Workbook (with key)_2015, 2nd-Audio 3/
../../../412_4- Speakout Intermediate Workbook (with key)_2015, 2nd-Audio 4/
../../../412_4- Speakout Intermediate Workbook (with key)_2015, 2nd-Audio/
../../../412_6- Speakout Intermediate, 2nd. BBC DVD Clips 2/
../../../412_6- Speakout Intermediate, 2nd. BBC DVD Clips/
../../../5fed64d8-9863-4f7d-9d27-512cc28c1681
../../../7824-01-thesis-powerpoint-template-16x9-2.jpg
../../../83644.pdf
../../../AAE5FFA3-E10F-42F8-887E-67ABC9A49C87 (1).JPG
../../../AAE5FFA3-E10F-42F8-887E-67ABC9A49C87.JPG
../../../Anlagen.pdf
../../../AnyDesk.exe
../../../Apache-NetBeans-16-bin-windows-x64.exe
../../../Azerbaijani_Tomris_Teymurlu.pdf
../../../Bachelor Zeugnisse.pdf
../../../Bachelor’s degree transcript.pdf
../../../Bachelor’s degree transcript_compressed_removed.pdf
../../../Begegnung A1 .pdf
../../../Begegnungen Deutsch als Fremdsprache A2+_ Integriertes Kurs- und Arbeitsbuch ( PDFDrive ) (1).pdf
../../../Begegnungen Deutsch als Fremdsprache A2+_ Integriertes Kurs- und Arbeitsbuch ( PDFDrive ).pdf
../../../Begegnungen Deutsch als Fremdsprache B1+_ Integriertes Kurs- und Arbeitsbuch ( PDFDrive ).pdf
../../../CV (1).docx
../../../CV (1).pdf
../../../CV (2).docx
../../../CV (2).pdf
../../../CV - Europass Tomris Teymurlu.pdf
../../../CV - Tomris Teymurlu.pdf
../../../CV .pdf
../../../CV.pdf
../../../Certificates.pdf
../../../Certificates_merged (1).pdf
../../../Certificates_merged.pdf
../../../ChromeSetup.exe
../../../Coursera 7MZ5BVQ99K8M.pdf
../../../Coursera RREU9MSM8TFJ.pdf
../../../Coursera W4YF3Z2JJTX6.pdf
../../../Cover Letter.docx
../../../Cover Letter.pdf
../../../Creating+an+Effective+Powerpoint.ppt
../../../Cv and Personal statement.pdf
../../../DataScienceMethodology_Badge20230210-28-efgb1q.pdf
../../../DiscordSetup.exe
../../../Docker Desktop Installer (1).exe
../../../Docker Desktop Installer.exe
../../../Documents (2).pdf
../../../Documents.pdf
../../../Documents2.pdf
../../../EGE_LOGO_3.png
../../../Ege hospital certificate.pdf
../../../Entry Level Software Engineer Resume (1).pdf
../../../Entry Level Software Engineer Resume -  (1).pdf
../../../Entry Level Software Engineer Resume - .pdf
../../../Entry Level Software Engineer Resume - for merge.docx
../../../Entry Level Software Engineer Resume -.pdf
../../../Entry Level Software Engineer Resume.pdf
../../../Essential Grammar in Use 4th Edition by R. Murphy.pdf
../../../FF0297-01-free-professional-thesis-powerpoint-template-16x9.pptx
../../../FotosBecarios_124442_
../../../FotosBecarios_124442_ (1)
../../../FreeCourseSite.com-Udemy-Java-Programming-Masterclass.torrent
../../../Git-2.39.0.2-64-bit.exe
../../../Git-2.43.0-64-bit.exe
../../../GitHubDesktopSetup-x64.exe
../../../GrammarlyAddInSetup.exe
../../../Gunesi_Beklerken_-_Huzun_-_www.BiG.AZ.mp3
../../../Handbook_Introduction_to_Java_Program.pdf
../../../Head_First_Java_Second_Edition.pdf
../../../IMG_5770.JPG
../../../IMG_8466.MOV
../../../JavaSqlTutorial.pptx
../../../Jupyter_Notebook (1).ipynb
../../../Jupyter_Notebook (2).ipynb
../../../Jupyter_Notebook (3).ipynb
../../../Jupyter_Notebook.ipynb
../../../LP - Lost on You.mp3
../../../LS_182011_Teymurlu.pdf
../../../Lebenslauf (1).docx
../../../Lebenslauf.docx
../../../Lebenslauf.pdf
../../../MSTeamsSetup (1).exe
../../../MSTeamsSetup (2).exe
../../../MSTeamsSetup.exe
../../../MSTeamsSetup_c_l_ (1).exe
../../../MSTeamsSetup_c_l_.exe
../../../Master Zeugnisse.pdf
../../../Master’s degree transcript _in English only.pdf
../../../Medizinische Wissenschaft und ihre Bedeutung für die Schule Klinische Chemie im Naturwissenschaftlichen Unterricht.pdf
../../../MenuUtil.java
../../../Messenger.182.0.0.9.73.exe
../../../My resume (1).pdf
../../../My resume.pdf
../../../OBS-Studio-30.2.3-Windows-Installer.exe
../../../One_Kiss_x_I_Was_Never_There_TikTok_lan_Asher_Version.mp3
../../../PHOTO-2023-10-31-15-35-48.jpg
../../../Pastel Multicolor Gradient Formal Research Paper Presentation.pptx
../../../Personal Statement (1).docx
../../../Personal Statement.docx
../../../Postman-win64-Setup.exe
../../../Presentation.pptx
../../../Profile.pdf
../../../R-4.2.2-win.exe
../../../R6-TEYMURLU-HE-EDPIF-078-1.zip
../../../RStudio-2022.07.2-576.exe
../../../Raymond_Murphy_-_English_Grammar_in_Use_5th_Edition.pdf
../../../Reference for Tomris.pdf
../../../ResumeDbAppJPASpring.zip
../../../ResumeDbAppJPASpring/
../../../SOUND.AI_vf.pdf
../../../Software Engineer Resume(3).pdf
../../../Software Engineer Resume.docx
../../../Software Engineer Resume.pdf
../../../SpeakPreintermediate/
../../../Statement of Purpose.pdf
../../../Statement_of_purpose.pdf
../../../TOPLU_AGRI_2019_VOL8- No2 (1).pdf
../../../TS Recommended Apps/
../../../Telegram Desktop/
../../../Tomris Teymurlu Offer Letter.pdf
../../../Tomris Teymurlu's Presentation (1).pptx
../../../Tomris Teymurlu's Presentation.pptx
../../../Tomris Teymurlu_CV (1).pdf
../../../Tomris Teymurlu_CV.pdf
../../../Tomris's CV.docx
../../../Tomris's CV.pdf
../../../Tomris's Resume  (1).docx
../../../Tomris's Resume  (1).pdf
../../../Tomris's Resume (2).docx
../../../Tomris's Resume .docx
../../../Tomris's Resume .pdf
../../../Tomris's Resume.docx
../../../Tomris's Resume.pdf
../../../Top-13-Lab-Techniques-You-Must-Know.webp
../../../TortoiseGit-2.15.0.0-64bit.msi
../../../Transcripts of bachelor's and master's degree.pdf
../../../Transcripts.pdf
../../../UEbungstest_telc_Deutsch_B2.pdf
../../../Udemy_Java_Programming_Masterclass_updated_to_Java_17_2023-8.part01_Downloadly.ir.rar
../../../Udemy_Java_Programming_Masterclass_updated_to_Java_17_2023-8.part01_Downloadly.ir/
../../../Untitled Diagram.jpg
../../../VSCodeUserSetup-x64-1.89.0.exe
../../../VSCodeUserSetup-x64-1.89.1.exe
../../../Watson_jupyter.ipynb
../../../WinSCP-6.3.4-Setup.exe
../../../YandexPackLoader.exe
../../../Zeugnisse.pdf
../../../Zeugnisse_compressed.pdf
../../../Zeugnisse_merged (1).pdf
../../../Zeugnisse_merged.pdf
../../../Zeugnisse_merged_compressed.pdf
../../../Zeugnisse_organized.pdf
../../../Zeugnisse_organized_compressed.pdf
../../../[FreeCourseSite.com] Udemy - Java Programming Masterclass/
../../../andersen_trainee/
../../../apache-tomcat-10.1.20-windows-x64.zip
../../../apache-tomcat-10.1.20-windows-x64/
../../../apache-tomcat-9.0.87-windows-x64.zip
../../../apache-tomcat-9.0.87-windows-x64/
../../../application-form_doctoralschool_ibb-pas.docx
../../../bewerbungsschreiben-biologe-biologin.png
../../../bewerbungsschreiben-biologielaborant-biologielaborantin.pdf
../../../bewerbungsschreiben-biologielaborant-biologielaborantin.png
../../../biochemistry-analyzer-cobas-c-311-500x500.webp
../../../bonus-code-spring-boot-rest-security-jpa-hibernate-bcrypt.zip
../../../bonus-code-spring-boot-rest-security-jpa-hibernate-bcrypt/
../../../candidate_record.pdf
../../../cd/
../../../cobas-c-311.jpg
../../../competition/
../../../coursera_algoritms/
../../../cruddemo (1).zip
../../../cruddemo (1)/
../../../cruddemo.zip
../../../cruddemo/
../../../dOCUMENTS1.pdf
../../../datagrip-2024.2.2.exe
../../../demo (1).zip
../../../demo (1)/
../../../demo (2)/
../../../demo (3)/
../../../demo (5) 2/
../../../demo (5) 3/
../../../demo (5)/
../../../demo (6)/
../../../demo 2/
../../../demo.zip
../../../demo/
../../../demo_test/
../../../desktop.ini
../../../et --hard good-commit-hash
../../../file_writing/
../../../fmicb-12-647304-g001.jpg
../../../fourth-month/
../../../fullLine-241.18034.76 (1).zip
../../../fullLine-241.18034.76.zip
../../../fullLine-241.18034.76/
../../../gcapi.dll
../../../gradle-8.3-bin.zip
../../../gradle-8.3-bin/
../../../gradle-8.4-bin.zip
../../../gradle.zip
../../../gradle/
../../../hello (2)/
../../../homework_andersen/
../../../homework_course/
../../../https.docx
../../../hunt_dissertation_defense.ppt
../../../ideaIC-2023.1.2 (1).exe
../../../ideaIC-2023.1.2 (2).exe
../../../ideaIC-2023.1.2.exe
../../../ideaIU-2023.2.exe
../../../ikt_lab_certificate.pdf
../../../image-16-03-23-10-59 (1).webp
../../../image-16-03-23-10-59.jpeg
../../../image-16-03-23-10-59.png
../../../image-16-03-23-10-59.webp
../../../image-18-01-23-11-21.jpeg
../../../image-20-02-23-12-48-1.jpeg
../../../image-20-02-23-12-48-2.jpeg
../../../image-22-11-22-04-20.heic
../../../image-28-11-22-02-46 (1).heic
../../../image-28-11-22-02-46.heic
../../../image-31-10-23-03-26-removebg-preview.png
../../../image-31-10-23-03-26.jpeg
../../../images.jpg
../../../imdb_v1.csv
../../../imresizer-1698751319561.jpg
../../../imresizer-1698751796528.jpg
../../../imresizer-1698751831105.jpg
../../../imza-removebg-preview.png
../../../istockphoto-1163093062-612x612.jpg
../../../java_diplom.pdf
../../../jdk-19_windows-x64_bin.msi
../../../jdk-21_windows-x64_bin.exe
../../../kafka_2.13-3.8.0.tgz
../../../kafka_2.13-3.8.0/
../../../lasresume.zip
../../../lasresume/
../../../last-app/
../../../mpdf.pdf
../../../myCode (1).txt
../../../mycoolapp.zip
../../../myinterests.zip
../../../mysql-8.3.0-winx64.msi
../../../mysql-9.0.1-winx64.msi
../../../mysql-workbench-community-8.0.38-winx64.msi
../../../navicat163_premium_en_x64.exe
../../../online-reserv.zip
../../../online-reserv/
../../../online-reservation-system (1).zip
../../../online-reservation-system (1)/
../../../pdfcoffee.com_1321-speakout-elementary-studentx27s-book2015-2nd-176ppdf-2-pdf-free.pdf
../../../pdfcoffee.com_1323-speakout-elementary-workbook-with-key2015-2nd-96ppdf-4-pdf-free (1).pdf
../../../pdfcoffee.com_1323-speakout-elementary-workbook-with-key2015-2nd-96ppdf-4-pdf-free.pdf
../../../pdfcoffee.com_2-speakout-pre-intermediate-workbook-2015-2ndpdf-4-pdf-free.pdf
../../../pdfcoffee.com_new-english-file-beginner-students-book-pdf-free.pdf
../../../pdfcoffee.com_speakout-2nd-edition-pre-intermediate-studentsx27-book-pdf-free.pdf
../../../pdfcoffee.com_speakout-starter-students-book-2nd-edition-pdf-free.pdf
../../../pharmacy-online-system/
../../../postgresql-16.3-1-windows-x64 (1).exe
../../../postgresql-16.3-1-windows-x64.exe
../../../putty-64bit-0.81-installer.msi
../../../resumewebapp.zip
../../../resumewebapp/
../../../rstudio-ide.pdf
../../../second-coursw/
../../../six-month-project.zip
../../../six-month-project/
../../../spring-boot-employee-sql-script.zip
../../../studentManagementSystem/
../../../task_management/
../../../thymeleafdemo.zip
../../../trakt_v1.csv
../../../tsetup-x64.4.4.1.exe
../../../turbox/
../../../user_management/
../../../utorrent_installer.exe
../../../utweb_installer (1).exe
../../../utweb_installer.exe
../../../vault.exe
../../../vault_1.15.1_windows_amd64 2/
../../../vault_1.15.1_windows_amd64.zip
../../../vault_1.15.1_windows_amd64/
../../../video-26-09-23-10-05.mov
../../../what-is-flow-cytometry-343977-640x360.jpg
../../../windows_10_cmake_Release_Graphviz-12.1.1-win64.zip
../../../windows_10_cmake_Release_Graphviz-12.1.1-win64/
../../../zoom-cloud-meetings-5-12-3.exe
../../../zubi/
../../../~$CV (1).docx
../../../~$CV (2).docx
../../../~$benslauf.docx
../../../~$mris's CV.docx
../../../~$mris's Resume  (1).docx
../../../~$mris's Resume .docx
../../../~$rsonal Statement (1).docx
../../../~$rsonal Statement.docx
../../../~$ver Letter.docx
../../../~WRL0005.tmp
../../../~WRL0006.tmp
../../../„\320\230\320\275\321\201\321\202\321\203\320\272\321\206\320\270\321\217.doc

